* {
  box-sizing: border-box;
  
}

body {
  background-color: #d2b48c;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
  margin: 0;
}

#wrapper {
  background-color: #231814;
  padding: 0;
}

header {
  color: #8c3826;
  background-color: #d2b48c;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url(images/cup.jpg);
  background-repeat: no-repeat;
  color: #231814;
  padding-left: 105px;
  height: 128px;
}

header a:link, a:visited {
  color: #231814;
}

header a:hover {
  color: #fef6c2;
}


h1 {
  font-size: 2em;
}

nav {
  text-align: center;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

nav a:link{
  color: #fef6c2;
}

nav a:visited {
  color: #d2b48c;
}

nav a:hover {
  color: #cc9933;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

nav li {
  padding: .5em 1em;
  width: 100%;
  border-bottom: solid 1px #d2b48c;
}

main {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  display: block;
  padding-top: 0;
  background-color: #fef6c2;
}

main ul {
  padding-left: 2em;
}

main h2, h3, h4, p, div, ul, dl {
  padding-left: 3em;
  padding-right: 2em;
}

#homehero {
  background-image: url(images/road.jpg);
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#heromugs {
  background-image: url(images/threemugs.jpg);
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}

#heroguitar {
  background-image: url(images/guitar.jpg);
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#herojobs {
  height: 300px;
  background-image: url(images/coffeecup.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#mobile {
  display: inline;
}

#desktop {
  display: none;
}

h2 {
  color: #8c3826;
}

h3, dt {
  color: #8c3826;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: solid 1px;
  padding-bottom: 0;
  clear: left;
}

.details {
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}

div p {
  clear: left;
}

img {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  background-color: #d2b48c;
  font-size: 0.60em;
  font-style: italic;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #8c3826;
}

table {
  align-items: center;
  width: 90%;
  border-spacing: 0;
}

th, td {
  padding: 10px;
} 

table tr:nth-of-type(odd){
  background-color: #d2b48e;
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 80%;
}

input, textarea {
  margin-bottom: .5em;
}

@media (min-width:600px){
  header {
    text-align: center;
    padding-left: 0;
  }

  h1 {
    font-size: 3em;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  nav li {
    border-bottom: none;
  }

  #homehero {
    background-image: url(images/hero.jpg);
    height: 50vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  #heromugs {
    background-image: url(images/heromugs.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  }
  
  #heroguitar {
    background-image: url(images/heroguitar.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #herojobs {
    height: 300px;
    background-image: url(images/herojobs.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #flow {
    display: flex;
    flex-direction: row;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: inline;
  }

  .details {
    display: flex;
    flex-direction: row;
  }

  h4 {
    margin-left: 10%;
    margin-right: 10%;
  }

  form {
    width: 40%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 6em 1fr;
  }
  #mySubmit {
    grid-column: 2/3;
    width: 9em;
  }

}

@media (min-width:1024px){
  header {
    grid-area: header;
    background-image: url(coffeelogo.jpg);
    background-repeat: no-repeat;
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  #wrapper {
    display: grid;
    grid-template: "header header"
                   "nav main"
                   "footer footer" / 200px;
  }

  nav ul {
    flex-direction: column;
  }

}