* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', sans-serif;
    background-color: white;
}
#wrapper {
    display: grid;
    grid-template: "header header"
                    "nav main"
                    "footer footer" /200px;    
}

header {
    grid-area: header;
}


nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-right: 1px solid black;
    grid-area: nav;
    background-color:bisque;
}


nav ul {
    list-style-type: none;
}
nav li {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

nav a:visited{
    color: aqua;
}

nav a:hover {
    color: blueviolet;
}

nav a:link {
    color: #ff00ff;
}
ul a {
    text-decoration: none;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: green;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;
    padding-left: 3em;
}

main {
    grid-area: main;
    height: 70em;
}
#mainPhoto {
    background-image: url(images/hueBuilding.jpg);
    height: 50vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

footer {
    grid-area: footer;
    background-color: aquamarine;
    text-align: center;
}
footer p {
    font-size: larger;
}