* {
    box-sizing: border-box;
    
}
.flexbox-container{
    display: flex;
    /*flex-direction: column;*/
    /*
    flex-wrap: keep the size of the item
    */
    justify-content: space-between;
    align-items: center;
    /* Items shrink needed
    align-content: center;*/
    background-color: yellow;
}
.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}
.flexbox-item1 {
    min-height: 100px;
}

.flexbox-item2 {
    min-height: 200px;
}

.flexbox-item3 {
    min-height: 300px;
}
f