body {
    background-color: #fcebb6;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
    background-image: url(images/fadedroad50.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    color: #8c3826;
    background-color: #d2b48c;
    text-align: center; 
    padding-top: 5px;
    padding-bottom: 5px;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;
}

h1 {
    font-size: 3em;
}
h2 {
    color: #8c3826;
}
h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}
h3, dt {
    color: #8c3826;
}
.details {
    padding-left: 20%;
    padding-right: 20%;
}
img {
    padding-left: 10px;
    padding-right: 10px;
}

#homehero{
    background-image: url(images/hero.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a {
    text-decoration: none;
}

footer {
    background-color: #d2b48c;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #8c3826;
}
#wrapper {
    width: 80%;
    background-color: #fefaeb;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px 5px #828282;
}